<div class="container d-flex justify-content-center align-items-center flex-column py-5 mx-auto">
    <h1>PORTFOLIO COMPONENT</h1>
    <div class="d-flex align-items-center justify-content-center mt-3">
        <div  class="line me-3" style="background-color: black;"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3" style="background-color: black;"></div>
    </div>
    <div class="row  mt-5 ">
        <div class="col-md-4 ">
            <div class="mx-2 position-relative iconz2">
                <div class="position-absolute iconz rounded-3">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
                <img src="./assets/images/poert1.png" alt="" class="w-100 rounded-3">
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="mx-2 position-relative iconz2">
                <div class="position-absolute iconz rounded-3">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
                <img src="./assets/images/port2.png" alt="" class="w-100 rounded-3">
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="mx-2 position-relative iconz2">
                <div class="position-absolute iconz rounded-3">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
                <img src="./assets/images/port3.png" alt="" class="w-100 rounded-3">
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="mx-2 position-relative iconz2">
                <div class="position-absolute iconz rounded-3">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
                <img src="./assets/images/poert1.png" alt="" class="w-100 rounded-3">
            </div>
        </div>
        <div class="col-md-4  mt-4">
            <div class="mx-2 position-relative iconz2">
                <div class="position-absolute iconz rounded-3">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
                <img src="./assets/images/port2.png" alt="" class="w-100 rounded-3">
            </div>
        </div>
        <div class="col-md-4  mt-4">
            <div class="mx-2 position-relative iconz2">
                <div class="position-absolute iconz rounded-3">
                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
                <img src="./assets/images/port3.png" alt="" class="w-100 rounded-3">
            </div>
        </div>
    </div>
</div>
